body{
	background: rgb(230, 51, 57);
	color: white;
}
Body{
	background-size: cover;
	background-image: url(bg3.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
   
 }
	 